.places {
  display: grid;
  max-width: 984px;
  margin: auto;
  padding-bottom: 92px;
  gap: 80px;
}

@media (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .places {
    gap: 73px;
    padding-bottom: 88px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .places {
    max-width: 320px;
    gap: 50px;
    padding-bottom: 64px;
    padding-left: 0;
  }
}
