.place__image {
  width: 95.5%;
  grid-row: 2/6;
}

@media (max-width: 1279px) {
  .place__image {
    width: 97%;
  }
}

@media (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .place__image {
    grid-row: 3/6;
    padding-bottom: 32px;
    max-width: 320px;
  }
}
