.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

@media (max-width: 767px) {
  .footer__copyright {
    align-self: self-start;
  }
}
