.intro__text {
  max-width: 690px;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: white;
  list-style: none;
  align-self: flex-start;
}

.intro__text:last-child {
  padding-bottom: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
