.intro__text {
  max-width: 690px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: white;
  list-style: none;
  align-self: flex-start;
}

.intro__text:last-child {
  margin-bottom: 0;
}
